body {
  background: #f9f9f9;
  padding-left: 20px;
  padding-right: 20px;
}
.App {
  font-family: sans-serif;
}
button {
  height: 30px;
  width: 100px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #15847b;
  background: #15847b;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
.list-container {
  border-top: 1px solid #808080;
  padding-top: 20px;
}
.music-content {
  width: 50%;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}
.music-content .music-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.music-content .music-singer {
  font-size: 1em;
  color: #f93a46;
}
